# PO files #
############
*.po
*.pot
*.log
test.php
/nbproject/private/

.buildpath
.project
.settings/
addExistingTrans.*
checkTrans*
fromFrontToFull.php
lastCheck.php
sanity*
toast.php

# PhpStorm
.idea/
